@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

.bayon-regular {
  font-family: 'Bayon', sans-serif;
  /* font-weight: 600; */
  font-style: normal;
}